@import "colores";
@import "border";

/* Mapa */

$redes: (facebook:#3b5998, instagram:#C13584, whatsapp:#24d364);

@each $red, $color in $redes {
    .#{$red}{
        background-color: $color;
    }
}

@mixin altura-simbolos-redes {
    height: 8vh;
}

/* GENERAL */

html {
    font-size: 62.5%;
    padding:0;
    margin: 0;
    body {
        background-color: black;
        justify-content: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        .divgeneral {
            background-color: white;
            width: 100%;
            max-width: 140rem;
        }
        a {
            color: black;
            text-decoration: none;
        }
        li {
            list-style-type: none;
        }

        /* PÁGINAS */

        .tituloDePagina {
            text-align: center;
            background-color: $color-principal;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-top: $border-black;
            border-bottom: $border-black;
            margin-top: 1rem;
        }
    }
    
}

/* HEADER */


header {

    border-top: $border-black;
    border-bottom: $border-black;

    .logoh1 {
        display: flex;
        align-items: center;
    }

    img {
        height: 9rem;
        margin: 1rem 1rem 1rem 3rem;
    }

    li {
        font-size: 1.8rem;
        transition-property: color;

        &:hover {
            color: $color-principal;
            transition-duration: 0.5s;
        }
    }
    
    
    #boton-contactanos {
        background-color: $color-principal;
    }

}

/* FOOTER */

footer {
    color: white;
    background-color: black;
    display: flex;

    .divfooter1,
    .divfooter2,
    .divfooter3 {
        width: 33%;
        margin: 2rem;
    }

    a, li {
        color: white !important;
        transition-property: color;
        
        &:hover {
            color: $color-principal;
            transition-duration: 0.2s;
        }
    }

    .logoYtextofooter {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 7rem;
            margin-right: 1rem;
        }
    }

    .divfooter1-infocontacto {
        margin-top: 1.5rem;

        p {
            margin: 0 1rem;
        }
    }

    .divfooter1-infocontacto-div1 {
        display: flex;
        justify-content: center;
        align-items: start;
        margin-bottom: 1rem;
    }
    
    .divfooter1-infocontacto-div2 {
        display: flex;
        justify-content: center;
        align-items: start;
        margin-bottom: 1rem;
    }
    
    .divfooter1-infocontacto-div3 {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .simbolosfooter {
        height: 1.2rem;
    }

    .divfooter2 {
        border-left: $border-colorprincipal;
        border-right: $border-colorprincipal;

        ul {
            text-align: center;
            padding-left: 0;

            li {
                padding: 1rem 0;
            }
        }
    }

    #boton-contactanos-footer {
        color: white;
        display: inline;
        padding: 1rem;
        transition-property: background-color ;
        transition-duration: 0.2s;
        
        &:hover {
            color:black;    
            background-color: #FFA942;
        }
    }

    .divfooter3 {
        h3 {
            text-align: center;
        }
        ul {
            display: flex;
            margin-top: 3rem;
            padding-left: 0;
            justify-content: space-around;
        }
        img {
            @include altura-simbolos-redes;
        }
    }
}


/* INDEX */

.item {
    position:absolute;
    right: 0;
    bottom: 0;
    background-color: map-get($map: $redes , $key: whatsapp );  
    width: 12rem;
    height: 12rem;
    clip-path: circle(40% at bottom right);
    transition-property: clip-path;
    transition-duration: 2s;
    &:hover {
        clip-path: circle(150% at bottom right);
    }
}


.sectionTextoImgIndex {
    background-image: url(../images/mainhouse3.jpg);
    background-size: cover;
    background-position: center;

    .divTextoImgIndex {
        position: relative;
        width: 100%;
        height: 84vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 0.5rem black;
        p {
            color: white;
            width: 45%;
            font-size: 5rem;
            text-align: center;
            z-index: 2;
        }
    }
}

.h2-index {
    font-size: 2.2rem;
    text-align: center;
    padding: 2.5rem 0;
    border-top: $border-colorprincipal;
    border-bottom: $border-colorprincipal;
    margin: 2rem 7rem 2rem 7rem;
}

.mainindex {
    

    .sectionNuestrosServicios {
        display: flex;
        justify-content: space-around;
        
        h3, p {
            text-align: center;
            margin: 1.4rem 0;
        }
    }

    .div-iconos {
        display: flex;
        justify-content: center;
    }
    
    .divLinkServiciosIndex {
       display: inline-block;
       font-size: 2rem;
       margin: 4rem 2rem 2rem 2rem;
    }
}



/* SOBRE NOSOTROS */

.sectionSobreNosotros {
    height: 40vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: auto;
    grid-template-areas: "div-nombres div-logo info-personal";
    border-bottom: $border-colorprincipal;

    .div-nombres {
        grid-area: div-nombres;
        margin: auto;

        p {
            font-size: 4rem;
        }

        h3 {
            font-size: 2.5rem;
            margin-left: 12rem;
            border-bottom: $border-colorprincipal;
        }
    }

    .div-logo {
        grid-area: div-logo;
        margin: auto;
        
    }

    .info-personal {
        grid-area: info-personal;
        margin: auto;
        text-align: center;
        font-size: 2rem;

        .cita-sobre-nosotros {
            border-bottom: $border-colorprincipal;
        }

        .texto-universidad {
            margin-top: 1rem;
        }


        
    }
}


.divTextoNuestraOficina {
    display: flex;
    align-items: center;
    margin: 1rem;

    div {
        width: 50%;
    }

    h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    p {
        font-size: 2rem;
    }

    .divTextoNuestraOficinah3 {
        border-right:solid 2px #FFA942;
        margin-right: 1.5rem;
    }

}

.divImgNuestraOficina {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "imagenlocal1 imagenlocal2 imagenlocal3";

    .divimg1 {
        grid-area: imagenlocal1;
        img {
            width: 100%;
            padding: 1rem;
        }
        
    }
    .divimg2 {
        grid-area: imagenlocal2;
        img {
            width: 100%;
            padding: 1rem;
        }
    }
    .divimg3 {
        grid-area: imagenlocal3;
        img {
            width: 100%;
            padding: 1rem;
        }
    }
}

/* SERVICIOS */

.h2-servicios {
    @extend .h2-index; 
}

.main-servicios {

    .servicios-div-cita {
        text-align: center;
        font-size: 2rem;
        padding: 2.5rem 0 1rem 0;
    }
    
    h3 {
        font-size: 2.2rem;
        padding: 2.5rem 0;
        border-bottom: $border-colorprincipal;
    }

    .p-principales { 
        text-align: center;
        font-size: 2rem;
    }

    .servicios-div-3imagenes-render {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "cuaderno planos" "texto-render imagen-render";

        #imagen-cuaderno {
            grid-area: cuaderno;
            width: 100%;
            padding: 1rem 1rem 1rem 2rem;
        }

        #imagen-planos {
            grid-area: planos;
            width: 100%;
            padding: 1rem 2rem 1rem 1rem;
        }

        .div-texto-render {
            grid-area: texto-render;
            font-size: 2rem;
            margin: 4rem 2rem 1rem 2rem;
        }

        .imagen-render {
            grid-area: imagen-render;
            width: 100%;
            padding: 4rem 2rem 1rem 1rem;
        }
    }

    .div-remodelaciones {
        
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "titulo-remod titulo-remod" "img-plano texto-descripcion" "img-plano img-descripcion";

        h3{
            text-align: end;
            grid-area: titulo-remod ;
            margin-left: 50%;
            margin-right: 2rem;
        }

        p {
            font-size: 2rem;
            width: 100%;
            text-align: end;
            grid-area: texto-descripcion;
            padding: 2rem;
        }

        .imagen-plano {
            width: 100%;
            grid-area: img-plano;
            padding: 2rem;
        }

        .imagen-descripcion-plano {
            width: 100%;
            grid-area: img-descripcion;
            padding: 2rem;
        }

    }  

    .div-fachadas {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "texto-fachadas img-fachadas";

        .div-fachadas-titulo-texto {
            grid-area: texto-fachadas;
            font-size: 2rem;
            margin: 4rem 2rem 1rem 2rem;
        }

        .imagen-fachada {
            grid-area: img-fachadas;
            width: 100%;
            padding: 4rem 2rem 1rem 1rem;
        }
    }
   
    .div-obras {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "titulodescripcion-obras titulodescripcion-obras" "imagen1-obras imagen2-obras";

        .titulodescripcion-obras {
            grid-area: titulodescripcion-obras;
        }

        .imagen1-obras {
            grid-area: imagen1-obras;
            width: 100%;
            padding: 1rem 1rem 1rem 2rem;
        }

        .imagen2-obras {
            grid-area: imagen2-obras;
            width: 100%;
            padding: 1rem 2rem 1rem 1rem;
        }
    }


}

/* GALERIA */

#galeria {

    #imagen-galeria {
        width: 100%;
        height: 30rem;
        &:hover {
            border: 5px solid white;
        }
    }

    .col-lg-4 {
        padding: 2rem;
    }

}

/* CONTACTO */

.section-contacto {
    display: flex;
    justify-content: space-around;

    h2 {
        margin: 1rem 1rem 1rem 2.5rem;
        padding: 0 0 1rem 1rem;
        border-bottom:solid 1px #FFA942;
    }

    p {
        font-size: 1.7rem;
        padding-left: 1rem;
    }

    .div-contactanos-contacto {
        width: 40%;

        .simboloscontacto {
            height: 1rem;
        }

    }
    
    .div-img-contactanos-contacto {
        display:flex;
        margin: 0 2rem;

        img {
            @include altura-simbolos-redes;
            margin: 1rem 2rem;
            transition-property: height;
            transition-duration: 0.5s;
            &:hover {
                height: 8.5vh;
            }
        }
    }

    .div-formulario-contacto {
        width: 40%;

        button {
            font-size: 1.8rem;
        }
    }

}


.div-iframe {
    margin: 1rem;
    width: calc(100% - 2rem);
    height: 30vh;
    border: solid 2px black;

    iframe {
        width:100%;
        height: calc(100% - 2px);
    }
}



/* MEDIA QUERIES*/


@media screen and (max-width: 1050px) { 

     /* SOBRE NOSOTROS */

    .divImgNuestraOficina {
        margin: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "imagenlocal1 imagenlocal1" "imagenlocal2 imagenlocal3" ;
    }
}


@media screen and (min-width: 751px) {
    .divFondoNaranja {
        width: 50%;
        height: 40%;
        background-color:#FFA942;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0.8;
    }
}


@media screen and (max-width: 750px) {

    .tituloDePagina {
        font-size: 2.2rem;
    }

    /* HEADER */

    header {
        h1 {
            font-size: 2.3rem;
        }

        img {
            height: 6.5rem;
        margin: 1rem 1rem 1rem 2rem;
        }
    }
    
    /* FOOTER */

    footer { 
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3 auto);
        grid-template-areas: "div1" "div2" "div3";

        .divfooter1 {
            grid-area: div1;
            width:calc(100% - 4rem);
        }
        .divfooter2 {
            grid-area: div2;
            border-top: #FFA942 solid 1px;
            border-bottom: #FFA942 solid 1px;
            border-left: 0;
            border-right: 0 ;
            width:calc(100% - 4rem);
        }
        .divfooter3 {
            grid-area: div3;
            width:calc(100% - 4rem);
        }

    }

    
    /* INDEX */

    .item {
        display: none;
    }

    .sectionTextoImgIndex {
        .divTextoImgIndex {
            align-items: flex-start;

            .divFondoNaranja {
                margin-top: 1rem;
                width: 70%;
                height: 29%;
                background-color:#FFA942;
                opacity: 0.8;
                position: absolute;
                top: 0;
            }

            p {
                color: white;
                width: 70%;
                margin: 0.7rem 0;
                font-size: 3.5rem;
                text-align: center;
                z-index: 2;
            }
        }
    }

    .mainindex {
        .sectionNuestrosServicios {
            display:flow-root ;
        }
    }

    /* SOBRE NOSOTROS*/

    .sectionSobreNosotros {
        display: flow-root;
        height: 100%;
        border-bottom: 0;
    
        .div-nombres {
            margin: 1rem;
    
            p {
                font-size: 4rem;
            }
    
            h3 {
                font-size: 2.5rem;
                margin-left: 12rem;
                border-bottom: $border-colorprincipal;
            }
        }
    
        .div-logo {
            height: 13rem;
            margin: 2rem;
            display: flex;
            justify-content: center;
            
        }
    
        .info-personal {
            margin: 2rem 3rem;
            text-align: center;
            font-size: 2rem;
    
            .cita-sobre-nosotros {
                border-bottom: $border-colorprincipal;
            }
    
            .texto-universidad {
                margin-top: 1rem;
            }
        }
    }

    
    .divTextoNuestraOficina {
        display: flow-root;
        margin: 2rem 1.5rem;
        border-top:#FFA942 solid 2px;

        .divTextoNuestraOficinah3 {
            border-right: 0;
            border-bottom: solid 2px #FFA942;
            margin: 2rem 0;
            padding-bottom: 1.25rem;
        }

        div { 
            width: 100%;
        }

        h3 {
            font-size: 2.5rem;
            text-align: center;
        }

        p {
            font-size: 2rem;
            text-align: center;
        }

    }

    .divImgNuestraOficina {
        margin: 1rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "imagenlocal1" "imagenlocal2" "imagenlocal3" ;
    }

    /* SERVICIOS */

    .main-servicios {

        .servicios-div-3imagenes-render {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "cuaderno" "planos" "texto-render" "imagen-render"; 

            #imagen-cuaderno,
            #imagen-planos,
            .imagen-render {
                padding: 1rem;
            }
        }  

        .div-texto-render {
            text-align: center;
        }

        .div-remodelaciones {
        
            display: flow-root;
    
            h3{
                text-align: center;
                
                margin: 0 2rem;
            }
    
            p {
                text-align: center;
                padding: 2rem;
            }
    
            .imagen-plano {
                display: none;
            }
    
            .imagen-descripcion-plano {
                display: none;
            }
        }

        .div-fachadas {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            grid-template-areas: "texto-fachadas" "img-fachadas";
    
            .div-fachadas-titulo-texto {
                text-align: center;
                font-size: 2rem;
                margin: 4rem 2rem 1rem 2rem;
            }
    
            .imagen-fachada {
                width: 100%;
                padding: 4rem 2rem 1rem 1rem;
            }
        }

        .div-obras {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            grid-template-areas: "titulodescripcion-obras" "imagen1-obras" "imagen2-obras";
    
            .imagen1-obras {
                width: 100%;
                padding: 1rem;
            }
    
            .imagen2-obras {
                width: 100%;
                padding: 1rem;
            }
        }
    }
    

    /* CONTACTO */

    .section-contacto {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "div-contacto1" "div-contacto2";
        row-gap: 2rem;

        .div-contactanos-contacto {
            width: 100%;
            grid-area: div-contacto1;

            img {
                height: 4.5rem;
            }
        }
    
        .div-formulario-contacto {
            width: 100%;
            grid-area: div-contacto2;
        }
    
        .section-contacto h2 {
            font-size: 2.3rem;
        }
    }

}