@import "colores";
@import "border";

/* GENERAL */

html {
    font-size: 62.5%;
    padding:0;
    margin: 0;
    body {
        background-color: black;
        justify-content: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        .divgeneral {
            background-color: white;
            width: 100%;
            max-width: 140rem;
        }
        a {
            color: black;
            text-decoration: none;
        }
        li {
            list-style-type: none;
        }

        /* PÁGINAS */

        .tituloDePagina {
            text-align: center;
            background-color: $color-principal;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-top: $border-black;
            border-bottom: $border-black;
            margin-top: 1rem;
        }
    }
    
}

/* HEADER */


header {
    border-top: $border-black;
    border-bottom: $border-black;
    .logoh1 {
        display: flex;
        align-items: center;
    }

    img {
        height: 9rem;
        margin: 1rem 1rem 1rem 3rem;
    }

    li {
        font-size: 1.8rem;
        transition-property: font-size;

        &:hover {
            font-size: 2rem;
            transition-duration: 0.5s;
        }
    }
    
    
    #boton-contactanos {
        background-color: $color-principal;
    }

}

/* FOOTER */

footer {
    color: white;
    background-color: black;
    display: flex;

    .divfooter1,
    .divfooter2,
    .divfooter3 {
        width: 33%;
        margin: 1rem;
        padding: 1rem;
    }

    a, li {
        color: white !important;
        transition-property: color;
        
        &:hover {
            color: $color-principal;
            transition-duration: 0.2s;
        }
    }

    .logoYtextofooter {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 7rem;
            margin-right: 1rem;
        }
    }

    .divfooter1-infocontacto {
        margin-top: 1.5rem;

        p {
            margin: 0 1rem;
        }
    }

    .divfooter1-infocontacto-div1 {
        display: flex;
        justify-content: center;
        align-items: start;
        margin-bottom: 1rem;
    }
    
    .divfooter1-infocontacto-div2 {
        display: flex;
        justify-content: center;
        align-items: start;
        margin-bottom: 1rem;
    }
    
    .divfooter1-infocontacto-div3 {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .simbolosfooter {
        height: 1.2rem;
    }

    .divfooter2 {
        border-left: $border-colorprincipal;
        border-right: $border-colorprincipal;

        ul {
            text-align: center;
            padding-left: 0;

            li {
                padding: 1rem 0;
            }
        }
    }

    #boton-contactanos-footer {
        display: inline;
        padding: 1rem;
        transition-property: color background-color ;
        transition-duration: 0.2s;
        
        &:hover {
            background-color: #FFA942;
            color:black;
        }
    }

    .divfooter3 {
        h3 {
            text-align: center;
        }
        ul {
            display: flex;
            margin-top: 3rem;
            padding-left: 0;
            justify-content: space-around;
        }
        img {
            height: 5rem;
        }
    }
}


/* INDEX */

.item {
    position:absolute;
    right: 0;
    bottom: 0;
    background-color:  #24d364;
    width: 12rem;
    height: 12rem;
    clip-path: circle(40% at bottom right);
    transition-property: clip-path;
    transition-duration: 2s;
    &:hover {
        clip-path: circle(150% at bottom right);
    }
}


.sectionTextoImgIndex {
    background-image: url(../images/mainhouse3.jpg);
    background-size: cover;
    background-position: center;

    .divTextoImgIndex {
        position: relative;
        width: 100%;
        height: 84vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 0.5rem black;
        p {
            color: white;
            width: 45%;
            font-size: 5rem;
            text-align: center;
            z-index: 2;
        }
    }
}


.mainindex {
    h2 {
        text-align: center;
        padding: 2.5rem 0;
        border-top: $border-colorprincipal;
        border-bottom: $border-colorprincipal;
        margin: 2rem 7rem 2rem 7rem;
    }

    .sectionNuestrosServicios {
        display: flex;
        justify-content: space-around;
        
        h3, p {
            text-align: center;
            margin: 1.4rem 0;
        }
    }

    .div-iconos {
        display: flex;
        justify-content: center;
    }
    
    .divLinkServiciosIndex {
       display: inline-block;
       font-size: 2rem;
       margin: 4rem 2rem 2rem 2rem;
    }
}



/* SOBRE NOSOTROS */

.sectionSobreNosotros {
    width: calc(100% - 2rem);
    margin: 1rem;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;
    grid-template-areas: "foto1 foto2 texto";
    column-gap: 1rem;
    border-bottom: solid 1px #FFA942;
}

#fotoArquitectosGati {
    grid-area: foto1;
}

#fotoArquitectosHerrera {
    grid-area: foto2;
}

#fotoArquitectosGati div,
#fotoArquitectosHerrera div {
    display: flex;
    justify-content: center;
}

#infoPersonal {
    grid-area: texto;
    width: 96%;
}

.sectionSobreNosotros img {
    width: calc(100% - 2rem);
    padding: 1rem 1rem 0 1rem;
}

.sectionSobreNosotros h3 {
    text-align: center;
    margin: 1.5rem 0;
}

#infoPersonal div {
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.citaSobreNosotros {
    border-bottom: solid 1px #FFA942;
}

.divTextoNuestraOficina {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.divTextoNuestraOficina div {
    width: 50%;
}

.divTextoNuestraOficinah3 {
    border-right:solid 2px #FFA942;
    margin-right: 1.5rem;
}

.divTextoNuestraOficina h3 {
    font-size: 2.5rem;
    text-align: center;
}

.divTextoNuestraOficina p {
    font-size: 2rem;
}

.divImgNuestraOficina {
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "imagenlocal1 imagenlocal2 imagenlocal3";
}

.divImgNuestraOficina div {
    margin: 1rem;
}

.divimg1,
.divimg2,
.divimg3 {
    height: 58vh;
}

.divimg1 {
    background-image: url(../images/nuestraoficina1.jpg);
    background-size: cover;
    background-position: center;
    grid-area: imagenlocal1;
}

.divimg2 {
    background-image: url(../images/nuestraoficina2.jpg);
    background-size: cover;
    background-position: center;
    grid-area: imagenlocal2;
}

.divimg3 {
    background-image: url(../images/nuestraoficina3.jpg);
    background-size: cover;
    background-position: center;
    grid-area: imagenlocal3;
}



/* CONTACTO */



.section-contacto {
    display: flex;
    justify-content: space-around;
}

.section-contacto h2 {
    margin: 1rem 1rem 1rem 2.5rem;
    padding: 0 0 1rem 1rem;
    border-bottom:solid 1px #FFA942;
}

.section-contacto p {
    font-size: 1.7rem;
    padding-left: 1rem;
}

.div-contactanos-contacto {
    width: 40%;
}

.div-img-contactanos-contacto {
    display:flex;
    margin: 0 2rem;
}

.div-img-contactanos-contacto img {
    height: 8vh;
    margin: 1rem 2rem;
    transition-property: height;
    transition-duration: 0.5s;
}

.div-img-contactanos-contacto img:hover {
    height: 8.5vh;
}

.div-formulario-contacto {
    width: 40%;
}

.div-formulario-contacto button {
    font-size: 1.8rem;
}
    

.simboloscontacto {
    height: 1rem;
}

.div-iframe {
    margin: 1rem;
    width: calc(100% - 2rem);
    height: 30vh;
    border: solid 2px black;
}

iframe {
    width:100%;
    height: calc(100% - 2px);
}





















/* MEDIA QUERIES*/




@media screen and (max-width: 1050px) { 

     /* SOBRE NOSOTROS */

    .divImgNuestraOficina {
        margin: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "imagenlocal1 imagenlocal1" "imagenlocal2 imagenlocal3" ;
    }
}




@media screen and (min-width: 751px) {
    .divFondoNaranja {
        width: 50%;
        height: 40%;
        background-color:#FFA942;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0.8;
    }
}

@media screen and (max-width: 750px) {

    .tituloDePagina {
        font-size: 2.2rem;
    }

    /* HEADER */

    h1 {
        font-size: 2.3rem;
    }

    header img {
        height: 6.5rem;
        margin: 1rem 1rem 1rem 2rem;
    }
    
    /* FOOTER */

    footer { 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3 100%);
        grid-template-areas: "div1" "div2" "div3";

    }

    .divfooter1 {
        grid-area: div1;
    }
    .divfooter2 {
        grid-area: div2;
    }
    .divfooter3 {
        grid-area: div3;
    }

    .divfooter1,
    .divfooter2,
    .divfooter3 {
        width: 90%;
    }

    .divfooter2 {
        border-top: #FFA942 solid 1px;
        border-bottom: #FFA942 solid 1px;
        border-left: 0;
        border-right: 0 ;
    }

    /* INDEX */

    .item {
        display: none;
    }

    .divTextoImgIndex {
        align-items: flex-start;
    }

    .divFondoNaranja {
        margin-top: 1rem;
        width: 70%;
        height: 29%;
        background-color:#FFA942;
        opacity: 0.8;
        position: absolute;
        top: 0;
    }
    
    .divTextoImgIndex p {
        color: white;
        width: 70%;
        margin: 0.7rem 0;
        font-size: 4rem;
        text-align: center;
        z-index: 2;
    }


    .mainindex h2 {
        margin: 2rem 5rem;
    }

    .sectionNuestrosServicios {
        display:flow-root ;
    }

    /* SOBRE NOSOTROS*/

    .sectionSobreNosotros {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "foto1" "foto2" "texto";
        border-bottom: 0;
    }

    .sectionSobreNosotros h3 {
        font-size: 2.2rem;
    }

    #infoPersonal {
        border-top:#FFA942 solid 1px;
        width: 100%;
        margin-top: 1rem;
    }

    .citaSobreNosotros {
        margin: 1rem 0;
    }

    .textoUniversidad {
        margin: 1rem 0;
    }


    .divTextoNuestraOficina {
        display: flow-root;
        margin: 1.8rem 1.5rem;
        border-top:#FFA942 solid 1px;
    }

    .divTextoNuestraOficinah3 {
        border-right: 0;
        border-bottom: solid 2px #FFA942;
        margin: 2rem 0;
        padding-bottom: 1.25rem;
    }

    .divTextoNuestraOficina div {
        width: 100%;
    }
    
    .divTextoNuestraOficina h3 {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .divTextoNuestraOficina p {
        font-size: 2rem;
        text-align: center;
    }    

    /* CONTACTO */

    .section-contacto {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "div-contacto1" "div-contacto2";
        row-gap: 2rem;
    }

    .div-contactanos-contacto {
        width: 100%;
        grid-area: div-contacto1;
    }

    .div-formulario-contacto {
        width: 100%;
        grid-area: div-contacto2;
    }

    .section-contacto h2 {
        font-size: 2.3rem;
    }


}

@media screen and (max-width: 450px) {

    /* INDEX */

    .divFondoNaranja {
        width: 80%;
        height: 23%;
    }

    .divTextoImgIndex p {
        font-size: 3rem;
    }

    /* SOBRE NOSOTROS */

    .divImgNuestraOficina {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "imagenlocal1" "imagenlocal2" "imagenlocal3";
    }

}